.blog-navbar {
	text-decoration: none;
	background-color: #EDEDEC;
	padding-left: 15px;
	color: black;
	clear:both;

}

.blognav a{
	color: #000;
	font-weight: 900;
	text-transform: uppercase;
	 font-family: "Lato", arial, sans-serif;
}

.blog-navbar-container {
	clear:both;
	padding-top: 76px;

}