#body-main {
	background-color: #EDEDED;
	padding-bottom: 10px; 
}
#feature-container {
	
}
#first-feature {
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 4.0%;
	margin-bottom: 5px;
	float:left;
	height: 565px;
	padding-right: 0px;
	overflow: hidden;
}
/*#first-feature img {
	height: 100%;
}*/

#second-feature {
	margin-top: 10px;
	/*float:right;*/
	height:280px;
	padding-left: 0px;
	overflow: hidden;
}
/*#second-feature img {
	height: 100%;
}
*/
#third-feature {
	margin-top: 5px;
	margin-bottom:5px;
	clear:right;
	/*float: right;*/
	height:280px;
	padding-left: 0px;
	overflow:hidden;
}
.image_container {
	height:100%;
	position: relative;
	background:linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.4)
    );
    
}
.image_container img{
	
	width:100%;
	background: transparent;
	overflow:hidden;
}

.feature_title {
	position: absolute;
	bottom: 0;
	left: 0;
  	width: 100%;
  	padding: 20px 10px;
	text-shadow: 0 1px 0 black;
}

.feature_title h2, .feature_title h1 {
	margin: 0;
  	text-shadow: 0 1px 0 black;
  	font-family: "Lato", arial, sans-serif;
  	text-decoration: none;
}
.caption-overlay-1 {
    height: 150px;
}
.caption-overlay {
    width: 100%;
    position: absolute;
    bottom: 2px;
}
.feature_title>a {
	color: #FFF;
	text-decoration: none;
}
.feature_title>a:hover, .feature_title>a:focus {
    transition: color 0.2s ease;
    color: #00bbcc;
    outline: 0;
 }

 /* ------------------------------------------RECENT CONTAINERS------------------------------------------------------------------------------------- */

.recent-container .col-md-9 {
	clear:both;
	display: inline-block;
	float: right;
}
.category_recent_post {
	width:32.7%;
	float:left;
	margin-left: 5px;
}


.category_post_thumb  img{
	height: 100%;
	width:100%;
	
}
.category_name {
	width:400px;
}
.sidebar_p2 {
	float: right;
	margin-right: 0px !important;
	margin-top: 10px !important;
}                      
.catcontainer{
	margin-left: 4.0%;
	margin-right:4.0%;
}

.catcontainer #posts {
	margin-top: 18px;
	padding-right: 0px;
	
	
}

.small_category {
	width:100%;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: -28px;
	outline-color: #C1C1C1;
	outline-style: solid;
	outline-width: 2px;
	background-color: #FFF;

	display: inline-block;
	font-family: "Lato", arial, sans-serif;
	padding-top:10px;
	padding-left: 10px;
	padding-right: 15px;
}

.catcontainer .post_title {
	display: inline-block;
}

.cat_title_container {
	height: 120px;
	background-color: #EDEDED;
}

.category_post_title a{
	color:#000;
	display: inline-block;
	font-size: 19px;
	font-weight: 500;
	text-decoration: none;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;

}
.category_post_title>a:hover, .category_post_title>a:focus {
    transition: color 0.2s ease;
    color: #00bbcc;
    outline: 0;
 }

 #cat_title{
 	font-size: 16px;
 	padding-bottom: 5px;
 	height:30px;
 	font-weight: 900;
 	color:#FFF;
 	background-color: #C1C1C1;
 	padding-left: 10px;
 	padding-right: 10px;
 	margin-left: -15px;
 	z-index: 98;
 	position: relative;
 }

 .post_title p {
 	margin-bottom: 0px !important;
 	padding-top:3px;
 }
.cont_404 {
	width:90%;
}

.cont_404 img {
	margin-left: 90px;
}

.cont_404_title {
	text-align: center;
}

.excerpt {
	font-size: 8px;
	font-family: "Lato", arial, sans-serif;
}
