/*!
 * Hari Subbaraj 2015
 *
 * navbar.css based on Bootstrap
 *
 */
.blog-title{
    font-family: "Lato", arial, sans-serif;
}
.gen-navbar {
    height: 70px;
    line-height: 70px;
}

.nav>li {
    text-align: center;
}

.navbar {
        background: rgba(0, 0, 0, 0.8); /* make background translucent */
        font-family: "Lato", arial, sans-serif;
        font-weight: 700;
        margin-bottom: 0px;
        padding: 10px 0;
        text-transform: uppercase;
        border-radius: 0px; /* override Bootstrap rounding corners of navbar */
    }

        .navbar a {
            font-weight: 500;
            text-transform: uppercase;
        }

        .navbar .navbar-nav {
            letter-spacing: 1px;
        }

.navbar-default,
.navbar-inverse {
    border: 0;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    transition: color 0.2s ease;
    color: #00bccc;
    outline: 0;
 }

.navbar-brand { /* CSS for Wearhaus logo */
    padding: 5px 15px;
    margin-left: 0 !important;
}

#mailingListModal .modal-body {
    height: 420px; 
}

#order_now {
    margin: 0 15px 0 15px;
    padding-top: 5px;
}

#order_now_link {
    background-color: #00bccc;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    width: 130px;
}

    #order_now_link:hover, #order_now_link:focus,
    #order_now_link_mobile:hover, #order_now_link_mobile:focus {
        transition: color 0.3s ease;
        background-color: #33C9D6; /* make background lighter on hover/focus */
        color: white;
    }

#order_now_link_mobile {
    display: none;
}

@media(max-width: 767px) {

    .navbar-brand {
        padding: 10px 15px;
    }

        .navbar-brand img {
            height: 100%;
        }

    #order_now_link_mobile {
        background-color: #00bccc;
        border-radius: 5px;
        color: white;
        display: block;
        height: 34px;
        line-height: 24px;
        margin: 8px auto;
        padding: 5px 15px 5px 15px;
        text-align: center;
        width: 117px;
    }

    #order_now {
        display: none;
    }
}

/*-----------------------------------------------------BLOG NAVBAR CSS ----------------------------------------------------*/
.collapse-blog {
    display: none;
    background-color: #EDEDED;
    font-style: black;
}
.collapse-blog>li>a{
    color:black;
}
#searchbar {
    padding-top:15px;
    padding-left: 6%;
}
.blog-navbar {
    text-decoration: none;
    background-color: #EDEDED;
    padding-left: 5%;
    color: black;
    clear:both;
    z-index: 99;
    -webkit-transition: width 0.2s ease;
    transition: width 0.2s ease;
}
.blog-navbar>li>a:hover, .blog-navbar>li>a:focus  {
    transition: color 0.2s ease;
    color: #4f5b66;
    outline: 0;
 }

.blognav a{
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
     font-family: "Lato", arial, sans-serif;
}

.blog-navbar-container {
    clear:both;
}

#blognavbar-logo {
    -webkit-transition: width 0.5s ease;
    transition: width 0.5s ease;
    width: 80px;
    padding: 5px 15px;
    overflow: hidden;
}

.logo-hidden {
    width: 0px !important;
    padding: 5px 0px !important;
 }

.navbar-collapse {
    padding-left: 0;
}

.container {
    width: 92%;
}

#img-container img {
   width: 100%;
}

#stickyalias {
    display: none;
    height: 10px;
}


#blognavbar-logo>img{
    height: 50px;
    margin-top: -5px;
}

.collapse-blog>li>a{
    color:black !important;
}
