/*!
 * Raymond Kim 2015
 *
 * navbar.css based on Bootstrap
 *
 */

.navbar {
        background: rgba(0, 0, 0, 0.7); /* make background translucent */
        font-family: "Lato", arial, sans-serif;
        font-weight: 300;
        /*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 700;*/
        margin-bottom: 0px;
        padding: 10px 0;
        text-transform: uppercase;
    }

        .navbar a:focus {
            outline: 0;
        }

        .navbar .navbar-nav {
            letter-spacing: 1px;
        }

        .navbar .navbar-nav li a:focus {
            outline: 0;
        }

.navbar-default,
.navbar-inverse {
    border: 0;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-brand { /* CSS for Wearhaus logo */
    padding: 5px 15px;
}

/*a {
        font-family: "Lato", arial, sans-serif;
        font-weight: 300;
        text-transform: uppercase;
}*/