

.container-2{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;

}

.container-2 input#search{
  width: 35px;
  height:35px;
  background-color: #EDEDED;
  border: none;
  font-size: 10pt;
  float: left;
  color: #000;
  margin-top: -5px;
  margin-left: 5px;
  padding-left: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #000;
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}

.scrolled-down input#search {
  transition: background-color 0.2s ease;
  background-color:#F9F9F9;
}

.scrolled-up input#search{
  transition: background-color 0.2s ease;
  background-color:#EDEDED;
}
.box {
  margin-top: -3px;
}

.container-2 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-2 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}blog

 
.container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-2 input#search:-ms-input-placeholder {  
   color: #65737e;  
}
.container-2 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 2px;
  z-index: 1;
  /*Gray Search Icon
  color: #4f5b66;*/
  color:black;
}
.container-2 input#search:focus, .container-2 input#search:active{
  outline:none;
  width: 200px;
  text-transform: uppercase;
}
 
.container-2:hover input#search{
width: 200px;
text-transform: uppercase;

}
 
.container-2:hover .icon{
   color: #4f5b66;
}