.sidebar_p1 {
	margin-top: 5px;
	margin-right: 4.1666666%;
}

.sidebar_header {
	color:#FFF;
	background-color:  #3a3a3a;
	position: relative;
	
	margin-top: 10px;
	margin-bottom: 10px;
	height: 42px;
    
    position: relative;
}



.sidebar_header:before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    border-top: 42px solid #EDEDED;
    border-right: 42px solid  #3a3a3a;
    width: 0;
}

.sidebar_body {
	background-color:#FFF;
	
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.fb-like-box {
	width:100%;
}

.sidebar_body>a {
	text-decoration: none;
	color:#000;
	font-family: "Lato", arial, sans-serif;
	font-size: 14px;
	font-weight: 900;
	padding-left:15px;
	text-align: center;
	display: inline-block;
}

.sidebar_body>a:hover, .sidebar_body>a:focus {
	transition: color 0.2s ease;
    color: #00bbcc;
    outline: 0;
}

.mp_img {
	margin-left:5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.mp_img>img {
	width:100%;
}



.text-container .p_title {
	margin: 0px;
	padding: 0px;
	display: inline;
	font-weight: 800;
}
.text-container {
	padding-top:3px;
	font-family: "Lato", arial, sans-serif;
	padding-left: 48px;
	
}
#mp_sb {
	padding-top: 5px;
	font-size: 19px;
	
}
#mp_sb .text-container{
	font-weight: 900;
}

#fb_sb {
	padding-top: 5px;
	font-size: 19px;
}

#fb_sb_body {
	padding-bottom: 0px;
}
#tw_sb {
	padding-top: 5px;
	font-size: 19px;	
}

#tw_sb_body {
	height:400px;
	padding-bottom: 0px;
}
#ig_sb {
	padding-top: 5px;
	font-size: 17px;
}

._2ph-  {
	background-color: #FFF;
}

.timeline-footer {
	background: #FFF;
}
