#featured-image {
	padding-left:100px;
	padding-right:100px;
	padding-top: 5px;
}

#featured-image>img{
	width:100%;
}

.post_title {
	font-size: 40px;
	padding-bottom: 10px;
}

#wfa {
	font-weight:900;
	margin-bottom: -10px;
}

h1{
	font-weight: 100px;

}

.page-main {
	background-color: #EDEDED;
	
}
 #post_content {
 	float: left;
 	margin-top: -10px;
	margin-left: 70px;
 }

#content {
	outline-color: #00bccc;
	outline-style: solid;
	outline-width: 2px;
	background-color: #FFF;

	display: inline-block;
	font-family: "Lato", arial, sans-serif;
	font-size: 16px;
	border-right: 10px;
	margin-top: 25px;
	margin-bottom: 25px;
	padding-left: 25px;
	padding-top: 20px;
	padding-right: 25px;
	padding-bottom: 10px;
}

#content>p, #content>ul {
	line-height: 200%;
}

.wrapper {
	float: left;
	margin-left: 70px;
	outline-color: #00bccc;
	outline-style: solid;
	outline-width: 2px;
	background-color: #FFF;
}

