.cat_post_content {
	margin-left: 4.1666666%;
}
#featured-image {
	padding-top: 5px;
	overflow: hidden;
	max-height: 720px;
	margin-left: 4.1666666%;
}

#featured-image>img{
	width:100%;
	
}

.post_title {
	font-size: 38px;
	font-weight: 500;
	padding-bottom: 5px;
}

.date {
	font-size: 25px;
	color: #666666;
	margin-bottom: 30px; 
}

#wfa {
	font-weight:900;
	margin-bottom: -10px;
}

h1{
	font-weight: 100px;

}

.page-main {
	background-color: #EDEDED;
	
}
.i5 {
	margin-left: 4.1666666%;
}
#cont_a {
	padding-left:0px;
 	padding-right:0px;
}
 #post_content {
 	float: left;
 	margin-top: -10px;
 	padding-left:0px;
 	padding-right:0px;
 }

#content {
	background-color: #FFF;

	display: block;
	font-family: "Lato", arial, sans-serif;
	font-size: 16px;
	border-right: 10px;
	margin-top: 25px;
	margin-bottom: 10px;
	padding-left: 25px;
	padding-top: 20px;
	padding-right: 25px;
	padding-bottom: 10px;
}



iframe {
	width: 100%;
}

.wrapper {
	float: left;
	margin-left: 4.1666666%;
	outline-color: #00bccc;
	outline-style: solid;
	outline-width: 2px;
	background-color: #FFF;
}

.related_articles {
	
	background-color: #FFF;

	padding-left: 25px;
	padding-top: 20px;
	/*padding-right: 25px;*/
	padding-bottom: 10px;
	margin-bottom: 25px;
}

.comment_section {
	margin-bottom: 40px;
}

.tags {
	padding-top: 50px;
}

.related_cont {
	float:left;
	padding-left:0px;
 	padding-right:0px;
}
/* -----------------------------------CSS FOR RELATED POSTS----------------------------------------- */
.wp_rp_content, .wp_rp_content ul {
	width:100%;
}
.related_post_title {

}
ul.related_post {

}
ul.related_post li {
	margin-left: 5x !important;
	margin-right: 5px !important;
}
ul.related_post li a {
	font-size: 16px;

}
ul.related_post li img {
	width:100px;
	height:100px;
}
.wp_rp_footer {
	display: none;
}
.related_articles {
}